In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
df=pd.read_csv('titanicsurvival.csv')

In [26]:
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [27]:
df.isna().any()

Pclass      False
Sex         False
Age          True
Fare        False
Survived    False
dtype: bool

In [28]:
df['Age']=df['Age'].fillna(df['Age'].mean())

In [29]:
df.isna().any()

Pclass      False
Sex         False
Age         False
Fare        False
Survived    False
dtype: bool

In [30]:
df['Sex']=df['Sex'].map({'female':0,'male':1}).astype(int)
df.head()

   Pclass  Sex   Age     Fare  Survived
0       3    1  22.0   7.2500         0
1       1    0  38.0  71.2833         1
2       3    0  26.0   7.9250         1
3       1    0  35.0  53.1000         1
4       3    1  35.0   8.0500         0

In [31]:
X=df.drop('Survived',axis=1)
X.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    0  38.0  71.2833
2       3    0  26.0   7.9250
3       1    0  35.0  53.1000
4       3    1  35.0   8.0500

In [32]:
y=df['Survived']

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3,random_state =101)

In [37]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(X_train,y_train)
pred=model.predict(X_test)

In [41]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(pred,y_test)*100
print(f"The accuracy of our Guassian Naive Bayes model is : {accuracy}%")

The accuracy of our Guassian Naive Bayes model is : 75.3731343283582%